
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fa_ksiegowy">
    <application android:allowBackup="true" android:label="@string/app_name" android:theme="@style/Theme.FA">
        <activity android:name=".SettingsActivity" />
        <activity android:name=".AddEntryActivity" />
        <activity android:name=".ReportActivity" />
        <activity android:name=".MineActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
